* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-blue: #1f2c4e;
  --color-light-grey: #e3e4df;
  --color-white: #ffffff;
  --color-orange: #e09e40;

  --color-blue-transparent: rgba(31, 44, 78, 0.96);
  --color-dark-grey: #8c8c8c;
  --color-dark-orange: #80582a;
  --color-black: #000000;

  --color-red: #c6361b;
  --color-green: #1bc621;
}

body {
  background-image: url('images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
