.logoContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.logo {
  color: var(--color-light-grey);
}

.logoImage {
  width: 200px;
}

.button {
  height: 40px;
}

.button-box {
  display: flex;
  gap: 10px;
}

@media (max-width: 480px) {
  .logoImage {
    width: 150px;
  }
}
