.button {
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  background: var(--color-orange);
  color: var(--color-blue);
  border-bottom: solid 2px var(--color-dark-orange);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  opacity: 0.95;
  transform: translateY(-2px);
}

.md {
  font-size: 18px;
  padding: 5px 10px;
}

.lg {
  font-size: 24px;
  padding: 10px 60px;
}
