.customCard {
  border-radius: 4px;
  overflow: hidden;
}

.title {
  background: var(--color-orange);
  color: var(--color-blue);
  padding: 4px 15px;
}

.content {
  background: var(--color-light-grey);
  padding: 2px 10px;
}
