.box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: var(--color-blue);
  box-shadow: 24px;
  padding: 10px;
  gap: 30px;
}
