.card {
  max-width: 40%;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  width: 50%;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }

  .button {
    width: 100%;
  }
}