.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field-box {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.button-box {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}
