.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field-box {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.input {
  background: none;
  padding: 7px 5px;
  border: 1px solid var(--color-light-grey);
}

.input::placeholder {
  color: var(--color-dark-grey);
}

.input:focus {
  outline: none;
  border-color: var(--color-orange);
  color: var(--color-light-grey);
}

.button-box {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}
