.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field-box {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.input {
  background: none;
  padding: 7px 5px;
  border: 1px solid var(--color-light-grey);
}

.input::placeholder {
  color: var(--color-dark-grey);
}
