.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-fields {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  margin-left: 0 !important;
}
