.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-fields {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  margin-left: 0 !important;
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background: var(--color-blue);
}