.dashboard {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.dashboard-lower {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }
}