.container {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listItem {
  padding: 0;
  color: var(--color-blue);
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: row;
}
